<mat-card>
  <mat-toolbar color="primary">Detalhes do curso</mat-toolbar>

  <div class="mat-elevation-z8">
    <mat-card-content>
      <form mat-card [formGroup]="form" class="full-width min-width">
        <mat-form-field class="name-field">
          <input matInput placeholder="Nome" formControlName="name">
        </mat-form-field>

        <mat-form-field class="category-field">
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="category">
            <mat-option></mat-option>
            <mat-option value="front-end">Front-End</mat-option>
            <mat-option value="back-end">Back-End</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
      <button mat-raised-button (click)="onCancel()">Cancelar</button>
    </mat-card-actions>
  </div>
</mat-card>
