mat-table {
  max-height: 600px;
  min-width: 400px;
}

mat-cell {
  font-size: medium;
  color: black;
  opacity: 70%;
}

.header-text {
  font-size: medium;
  font-weight: bolder;
  color: black;
  opacity: 70%;
}

.action-button {
  width: max-content;
  margin: 0.1em;
  color: dimgray;
}

.delete-button:hover {
  opacity: unset;
  color: red;
}

.edit-button:hover {
  opacity: unset;
  color: blue;
}

.name-column {
  flex: auto;
}

.category-column {
  flex: 0 0 40%;
  justify-content: center;
}

.action-column {
  flex: 0 0 5%;
  justify-content: center;
  min-width: min-content;
}
